/* css styles */
.right-align {
    float: right;
}

.tiny-centered {
    font-size: 14px;
    text-align: center;
    display: block;  /* Ensures text-align works */
}

/* Target the sidebar logo specifically */
.sidebar img {
    border-radius: 20%;
    max-width: 175px;   /* Adjust size */
    margin: auto;       /* Center the logo */
}

/* Custom dark text color for the darkly theme */
body, h1, h2, h3, h4, h5, h6 {
  color: #e0e0e0; /* Light gray text color */
}

/* Style for inline code */
code {
  background-color: #2e2e2e !important; /* Force the background color */
  color: #12E193; /* Text color */
  padding: 2px 4px; /* Padding for inline code */
  border-radius: 3px; /* Rounded corners for inline code */
}